.cartcontainer{
    display: flex;
    flex-direction: column;
    padding:5px;
}
.cart-product{
    display: flex;
    align-items: center;
    gap:10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
.cart-product .productimg{
    width:100px;
    height: 100px;
}
.productimg img{
    width: 100%;
    height: 100%;
}